<!DOCTYPE html>
<html>
  <head>
    <title>MyRiskCluster</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <div class="header">
    <h1>MyRiskCluster!</h1>
    Track your community's mental health clusters.
    </div>
    <form method="POST">
      <p>Enter your region: <input name="region" /></p>
      <button type="submit">Submit</button>
    </form>
    

    <script src="js/firebaseDB.js"></script>
  </body>
</html>
