<!DOCTYPE html>
<html>
  <head>
    <title>Our Express App</title>
  </head>
  <body>
    <h1>Prep for Prep</h1>
    <p>MyRiskCluster!</p>

    <form method="POST">
      <p>Enter your region: <input name="region" /></p>
      <button type="submit">Submit</button>
    </form>

    <script src="js/firebaseDB.js"></script>
  </body>
</html>
