<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=VALID_API_KEY&libraries=visualization"
    ></script>
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1>MyRiskCluster</h1>
    Keep track of your community's mental health admist the pandemic.
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
      crossorigin="anonymous"
    ></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>

    <h1>Health Risk Map</h1>
    <div id="map"></div>
    <script>
      function initMap() {
        // The location of Uluru
        var sanfran = { lat: 37.774546, lng: -122.433523 };
        // The map, centered at Uluru
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: sanfran,
          mapTypeId: "hybrid",
        });
        var heatMapData = [
          { location: new google.maps.LatLng(37.782, -122.447), weight: 0.5 },
          new google.maps.LatLng(37.782, -122.445),
          { location: new google.maps.LatLng(37.782, -122.443), weight: 2 },
          { location: new google.maps.LatLng(37.782, -122.441), weight: 3 },
          { location: new google.maps.LatLng(37.782, -122.439), weight: 2 },
          new google.maps.LatLng(37.782, -122.437),
          { location: new google.maps.LatLng(37.782, -122.435), weight: 0.5 },

          { location: new google.maps.LatLng(37.785, -122.447), weight: 3 },
          { location: new google.maps.LatLng(37.785, -122.445), weight: 2 },
          new google.maps.LatLng(37.785, -122.443),
          { location: new google.maps.LatLng(37.785, -122.441), weight: 0.5 },
          new google.maps.LatLng(37.785, -122.439),
          { location: new google.maps.LatLng(37.785, -122.437), weight: 2 },
          { location: new google.maps.LatLng(37.785, -122.435), weight: 3 },
        ];
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({ position: sanfran, map: map });
        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatMapData,
        });
        heatmap.setMap(map);
      }
    </script>
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=VALID_API_KEY&libraries=visualization&callback=initMap"
    ></script>
  </div>
  <form method="POST">
    <p>Enter your region: <input name="region" /></p>
    <button type="submit">Submit</button>
  </form>
  </body>
</html>
