body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color:#37948f;
  color: #ffffff;
  font-size: larger;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.header{
  width: 100%;
  }
